pages

<alfa-ui>
  <alfa-select></alfa-select>
  router
<!--  <alfa-table></alfa-table>-->
  <alfa-table mode="table">

    <alfa-thead>
      <alfa-tr>
        <alfa-th>{{ 'Status'  }}</alfa-th>
        <alfa-th>{{ 'Agent'  }}</alfa-th>
        <alfa-th>{{ 'Client'  }}</alfa-th>
      </alfa-tr>
    </alfa-thead>

    <alfa-tbody>
      <alfa-tr>
        <alfa-td>
          hi
        </alfa-td>
        <alfa-td>
          hi
        </alfa-td>
        <alfa-td>
          hi
        </alfa-td>
      </alfa-tr>
    </alfa-tbody>
  </alfa-table>


  <router-outlet />
</alfa-ui>
